<head>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<form method="post" action="/quote">
  Having support from loved ones?
  <input type="radio" name="answer" value="loyalty"><br><br><br><br>
  Lost a loved one?
<input type="radio" name="answer" value="death"><br><br><br><br>
  Wish you could spend more time with family? 
<input type="radio" name="answer" value="member"><br><br><br><br>
  <input type="hidden" name="category" value="family">
  <input value="submit" type="submit">
</form>