<head>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<form method="post" action="/quote">
  Having trouble staying in touch with your family?
  <input type="radio" name="answer" value="loyalty"><br><br>
  Did you lose a family member?
<input type="radio" name="answer" value="death"> <br><br>
  Do you wish you could spend more time with a particular family member? 
<input type="radio" name="answer" value="member"> <br><br>
  <input type="hidden" name="category" value="family">
  <input type="submit" value="submit"><br>
</form>