<!-- this is where the homepage goes, using HTML -->
<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Brighten up Your Day</title>
   <link rel="stylesheet" type="text/css" href="css/style.css">
 </head>
 <body>
   <h1>This is the Inspirational Quote App</h1>
   <h2> What's got you down? </h2>
   <a href="/sports"> Sports </a><br>
   <a href="/family"> Family </a>
 </body>
</html>