<!-- this is where the homepage goes, using HTML -->
<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Brighten up Your Day</title>
 </head>
 <body>
   <h1>This is the Inspirational Quote App</h1>
   <form method="POST" action="/quote">
Category:<br>
<input type="text" categories="categories" placeholder="Sports, family, school, relationship">
<br><br>

<input type="submit" value="Submit">
</form>
 </body>
</html>