<!-- this is where the homepage goes, using HTML -->
<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Dare To Inspire</title>
   <link rel="stylesheet" type="text/css" href="css/style.css">
 </head>
 <body>
   <h1>Welcome to the Inspirational Quotes App! Our goal is to inspire those that are in need of positivity.</h1>
   <h2>“Perfection is not attainable, but if we chase perfection we can catch excellence” - Vince Lombardi</h2><br>
   <p>  &darr;Watch This Video!!!</p>
   <iframe width="560" height="315" src="https://www.youtube.com/embed/uyTAfX7cniI" frameborder="0" allowfullscreen></iframe>
   <h3> What's got you down buddy? </h3>
   <a href="/sports"> Sports </a><br><br>
   <a href="/family"> Family </a><br><br>
   <a href="/relationship"> Relationships </a><br><br>
   <a href="/school"> School </a><br><br>
   <a href="/peer_pressure"> Peer Pressure </a><br><br>
   <p>Created by HEY Inc.</p>
 </body>
</html>