<!-- this is where the homepage goes, using HTML -->
<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Dare To Inspire</title>
   <link rel="stylesheet" type="text/css" href="css/style.css">
 </head>
 <body>
   <h1>This is the Inspirational Quotes App. Here we give you the positivity you need to take a step forward from the obstacles you are facing.</h1>
   <h2>“Keep your face to the sunshine and you cannot see a shadow” - Helen Keller</h2><br>
   <p> &darr; Watch This Video </p>
   <iframe width="560" height="315" src="https://www.youtube.com/embed/uyTAfX7cniI" frameborder="0" allowfullscreen></iframe>
   <h3> What's got you down buddy? </h3>
   <a href="/sports"> Sports </a><br><br>
   <a href="/family"> Family </a><br><br>
   <a href="/relationship"> Relationships </a><br><br>
   <a href="/school"> School </a><br><br>
   <p>Created by HEY Inc.</p>
 </body>
</html>