<!-- this is where the homepage goes, using HTML -->
<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Inspiration for the Future</title>
   <link rel="stylesheet" type="text/css" href="css/style.css">
 </head>
 <body> 
   <h1>“Keep your face to the sunshine and you cannot see a shadow” - Helen Keller</h1><br>
   <p> &darr; Inspiration at its finest. </p>
   <iframe width="560" height="315" src="https://www.youtube.com/embed/uyTAfX7cniI" frameborder="0" allowfullscreen></iframe>
   <h2> What's got you down buddy? </h2>
   <a href="/sports"> Sports </a><br><br>
   <a href="/family"> Family </a><br><br>
   <a href="/relationship"> Relationship </a><br><br>
   <a href="/school"> School </a><br><br>
 </body>
</html>