<head>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<form method="POST" action="/quote">
  Blank 1
  <input type="radio" name="answer" value=""><br><br><br><br>
  Blank 2
<input type="radio" name="answer" value="" checked><br><br><br><br>
  Blank 3
<input type="radio" name="answer" value=""><br><br><br><br>
  <input type="hidden" name="category" value="peer_pressure">
  <input type="submit" value="submit">
</form>