<head>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<% if @quote1.category == "sports" %> 
  <% if @quote1.answer == "injury" %>
     “Champions keep playing until they get it right" - Billie Jean King<br>
<img src="http://sportsthenandnow.com/wp/wp-content/uploads/2009/11/King-11.jpg" alt="rss feed" width="542" height="558">
  <% elsif  @quote1.answer == "poor play" %>
    "You miss one hundred percent of the shots you do not take” - Wayne Gretzky<br>
<img src="http://activeforlife.com/wp/wp-content/uploads/2014/03/gretzky-wayne-oilers.jpg" alt="rss feed" width="1024" height="600">
  <% elsif @quote1.answer == "lose" %>
    “Never give up! Failure and rejection are only the first step to succeeding” - Jim Valvano<br>
<img src="http://www.examiner.com/sites/default/files/styles/image_content_width/hash/f5/be/f5be41142d347346210ad0b492224cd7.jpg?itok=3auftzIg" alt="rss feed" width="640" height="480" >
  <% end %>
<% end %>

<% if @quote1.category == "family" %>
 <% if @quote1.answer == "loyalty" %>
    "Faithless is he that says farewell when the road darkens.” - J.R.R. Tolkien<br>
<img src="http://www.nndb.com/people/511/000022445/jrrtolkien.jpg" alt="rss feed" width="494" height="700">
 <% elsif @quote1.answer == "death" %>
    “Grief knits two hearts in closer bonds that happiness ever can and common sufferings are far stronger links than common joys." –Alphonse de Lamartine<br>
<img src="http://www.quotationof.com/images/alphonse-de-lamartine-3.jpg" alt="rss feed" width="460" height="530">
 <% elsif @quote1.answer == "member" %>
    “Going home and spending time with your family and your real friends keeps you grounded” -  Jennifer Ellison<br>
<img src="http://i1.liverpoolecho.co.uk/incoming/article3267379.ece/ALTERNATES/s615/jennifer-ellison-and-family-919683394.jpg" alt="rss feed" width="1230" height="818">
  <% end %>
<% end %>

<% if @quote1.category == "relationship" %>
<% if @quote1.answer == "break up" %>
    “Truth is everybody is going to hurt you: you just gotta find the ones worth suffering for.” - Bob Marley<br>
<img src="http://bobmarley.cdn.junip.com/wp-content/uploads/2013/11/36589_10151614824990757_468584728_n.jpg" alt="rss feed" width="720" height="720">
<% elsif @quote1.answer == "fight" %>
      “We are afraid to care too much, for fear that the other person does not care at all.” - Eleanor Roosevelt<br>
<img src="http://firstladies.c-span.org/Images/VideoStillImgs/EleanorRoosevelt_640x400.jpg" alt="rss feed" width="720" height="450">
<% elsif @quote1.answer == "cheat" %>
      ”It takes one person to forgive, it takes two people to be reunited.” - Lewis B. Smedes<br>
<img src="https://c1.staticflickr.com/5/4086/4950294426_7a8c43afc9_b.jpg" alt="rss feed" width="720" height="960">

    <% end %>
   <% end %>
<% if @quote1.category == "school" %>
<% if @quote1.answer == "test" %>
 “Only those who dare to fail greatly can ever achieve greatly.” - Robert F Kennedy<br>
<img src="https://thenypost.files.wordpress.com/2013/10/kennedy3.jpg" alt="rss feed" width="720" height="446">
<% elsif @quote1.answer == "trouble" %>
 “A problem is a chance for you to do your best.” – Duke Ellington<br>
<img src="https://upload.wikimedia.org/wikipedia/commons/a/af/Duke_Ellington_-_publicity.JPG" alt="rss feed" width="720" height="930">
<% elsif @quote1.answer == "fail" %>
“The purpose of education is to replace an empty mind with an open one” - Malcolm Forbes<br>
<img src="http://www.qotd.org/portraits/Forbes,Malcolm.jpg" alt="rss feed" width="400" height="550"><br>
<% end %>
<% end %>

<% if @quote1.category == "peer_pressure" %>
<% if @quote1.answer == "" %>
 <br>
<img src="" alt="rss feed" width="" height="">
<% elsif @quote1.answer == "" %>
<br>
<img src="" alt="rss feed" width="" height="">
<% elsif @quote1.answer == "" %>
<br>
<img src="" alt="rss feed" width="" height=""><br>
<% end %>
<% end %>
<a href="/">Start Over</a><br><br>





    


