<head>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<form method="POST" action="/quote">
  Did you break up?
  <input type="radio" name="answer" value="break up"><br><br>
  Are you in a fight?
<input type="radio" name="answer" value="fight" checked><br><br>
  Did you cheat?
<input type="radio" name="answer" value="cheat"><br><br>
  <input type="hidden" name="category" value="relationship">
  <input type="submit" value="submit"><br>
</form>