<head>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<form method="POST" action="/quote">
  Break up?
  <input type="radio" name="answer" value="break up"><br><br><br><br>
  Argument/Fight?
<input type="radio" name="answer" value="fight" checked><br><br><br><br>
  Cheated or cheated on?
<input type="radio" name="answer" value="cheat"><br><br><br><br>
  <input type="hidden" name="category" value="relationship">
  <input type="submit" value="submit">
</form>