<head>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<form method="post" action="/quote">
  Did you do bad on a test?
  <input type="radio" name="answer" value="test"><br><br><br><br>
  Did you get in trouble?
<input type="radio" name="answer" value="trouble" checked><br><br><br><br>
  Did you fail a class?
<input type="radio" name="answer" value="fail"><br><br><br><br>
  <input type="hidden" name="category" value="school">
  <input type="submit" value="submit">
</form>