<form method="post" action="/quote">
  Did you suffer an injury?
  <input type="radio" name="answer" value="injury"> 
  Have you been playing badly?
<input type="radio" name="answer" value="poor play" checked> 
  Did you lose a close game?
<input type="radio" name="answer" value="lose"> 
  <input type="hidden" name="category" value="sports">
  <input type="submit" value="submit">
</form>