<head>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<form method="post" action="/quote">
  Did you suffer an injury?
  <input type="radio" name="answer" value="injury"><br><br>
  Have you been playing badly?
<input type="radio" name="answer" value="poor play" checked><br><br>
  Did you lose a close game?
<input type="radio" name="answer" value="lose"><br><br>
  <input type="hidden" name="category" value="sports">
  <input type="submit" value="submit"><br>
</form>