
body {
  color: white;
  font-size: 30px;
  text-align: center;
  background-image: url("../images/dat_sunset_doe.jpg");
  font-family: 'Arial';
  background-size:cover;
  text-shadow: 2px 2px black;
}
a {
  color: white;
  font-family: 'Arial';
  text-shadow: 2px 2px black;
}
